<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="JLBareyre" />

    <title>KIAKWA - mais il est ou b@rd€ld€m€rd€ ?</title>
    <!--link href="/css/bootstrap.min.css" rel="stylesheet" /-->

    <link href="/css/index.css" rel="stylesheet" th:href="@{/css/index.css}" />
  </head>

  <body>
    <div class="login-page">
      <div class="form">
        <span id="err" class="err" th:if="${err == 'exists'}">Ce nom est déja utilisé !</span>
        <span id="err" class="err" th:if="${err == 'ident'}"
          >User / Mot de passe non correspondants</span
        >

        <form action="#" class="register-form" method="POST" th:action="@{/user}">
          <input type="text" placeholder="name" id="name" th:id="name" th:name="name" />

          <input type="password" placeholder="pass" id="pass" th:id="pass" th:name="pass" />

          <input type="text" placeholder="email address" id="mail" th:id="mail" th:name="mail" />

          <button>create</button>

          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>

        <form class="login-form" method="POST" th:action="@{/logIn}">
          <input
            type="text"
            placeholder="username"
            id="logName"
            th:id="logName"
            th:name="logName"
          />
          <input
            type="password"
            placeholder="password"
            id="logPass"
            th:id="logPass"
            th:name="logPass"
          />
          <button>login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script id="rendered-js">
      $(".message a").click(function () {
        $(".err").hide();
        $("form").animate({ height: "toggle", opacity: "toggle" }, "slow");
      });
    </script>
  </body>
</html>
